<!DOCTYPE html>
<html>

<head>
  <% include element/header %>
</head>

<body>
  <div id="wrapper">
    <% include element/navbar %>
    <div id="page-wrapper">
      <% include element/title-page %>
      <%- body %>
    </div>
  </div>
</body>

</html>